[Desktop Entry]
Type=Application
Name=Install Firefox
Icon=/usr/share/icons/hicolor/scalable/apps/install-firefox.svg
Exec=sh -c 'xdg-open appstream://org.mozilla.firefox' %U
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https
