[Unit]
Description=SteamOS Offload - /etc overlay for critical RW
After=steamos-offload.target

[Mount]
Where=/etc
What=overlay
Type=overlay
Options=index=off,metacopy=off,lowerdir=/etc,upperdir=/var/overlays/etc/upper,workdir=/var/overlays/etc/work

[Install]
WantedBy=local-fs.target
