[Unit]
Description=HoloISO Overlay - Create first boot directories
Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/holoiso-create-overlays

[Install]
WantedBy=local-fs.target